<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="NavBar :: head (pageTitle='Music')">
    <meta charset="UTF-8"/>
    <title>MusicPage</title>
</head>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

    <body onload="initPage()">
        <script type="text/javascript">
            function initPage(){
                var options = {
                    valueNames: [ 'songName', 'artist']
                };
                var songList = new List('myTable', options);
            }
        </script>
        <div class="container">
            <div th:replace="NavBar :: navbar"></div>
            <div class="content">
                <div id="myTable">
                    <input class="search" placeholder="Search" />
                    <p id="table"></p>
                </div>
            </div>
        </div>
    </body>

<script>
    /*<![CDATA[*/
    var xmlhttp, myObj, x, txt = "";
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            Song = JSON.parse(this.responseText);
            txt += "<table class=\"table table-hover\">"
            txt += "<thead>"
            txt += "<tr>";
            txt += "<td>" + "id" + "</td>";
            txt += "<td>" + "title" + "</td>";
            txt += "<td>" + "artist" + "</td>";
            txt += "<td>" + "year" + "</td>";
            txt += "</tr>";
            txt += "</thead>"
            txt += "<tbody class=\"list\">"
            for (song in allSongs) {
                txt += "<tr>";
                txt += "<td>" + Song.id + "</td>";
                txt += "<td>" + Song.song + "</td>";
                txt += "<td>" + Song.artist + "</td>";
                txt += "<td>" + Song.year + "</td>";
                txt += "<td>";
                //txt += "<button id=\"Play"+Song.id><a th:href="@{/Music/{id}(id=${Song.id})}"><span class=\"glyphicon glyphicon-play"></span></a></button>"
                //txt += "<button id=\"Get"+Song.id><a th:href="@{/GraphPage/{id}(id=${Song.id})}"><span class=\"glyphicon glyphicon-equalizer"></span></a></button>"
                txt += "</td>"
            }
            txt += "</table>"
            txt += "</tbody>"
            document.getElementById("table").innerHTML = txt;
        }
    };
    xmlhttp.open("GET", "http://143.129.39.150:8080/DJAppServer_war/info/yolo", true);
    xmlhttp.setRequestHeader("Content-type", "application/json");
    xmlhttp.send();
    /*]]>*/
</script>
</html>