<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="NavBar :: head (pageTitle='Music')">
    <meta charset="UTF-8"/>
    <title>MusicPage</title>
</head>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

    <body onload="getSongs()">
        <script>
            function sendPlay(ident) {
                //var url = "http://143.129.39.150:8080/DJAppServer_war/info/playsong";
                var proxy = 'https://cors-anywhere.herokuapp.com/';
                var myURL = 'https://api.myjson.com/bins/11fzpt';
                $.ajax({
                    url: 'localhost',
                    type: 'POST',
                    data: { json: JSON.stringify({
                        'id': ident
                    })},
                    dataType: 'json'
                });
            }
        </script>
        <script>
            function getGraphData(id) {

                // 1) ID van json doorgeven (request)
                var proxy = 'https://cors-anywhere.herokuapp.com/';
                var myURL = 'https://api.myjson.com/bins/11fzpt';
                $.ajax({
                    url: 'localhost',
                    type: 'GET',
                    data: { json: JSON.stringify({
                        'id': id
                    })},
                    dataType: 'json'
                });





            }
        </script>
        <!--<script>-->
            <!--function goToGraphs(id) {-->

                <!--// 2) url-->
                <!--// 3) geef data door naar andere pagina-->

            <!--}-->
        <!--</script>-->
        <script type="text/javascript">
            /*<![CDATA[*/
            var songs = [];

            function getSongs() {
                //var url = "http://143.129.39.150:8080/DJAppServer_war/info/yolo";
                var proxy = 'https://cors-anywhere.herokuapp.com/';
                var myURL = 'https://api.myjson.com/bins/11fzpt';
                $.ajax({
                    url: proxy + myURL,
                    method: 'GET',
                    cache: false,
                    /*statusCode: {
                        200: function (response) {
                            alert('200');
                        },
                        201: function (response) {
                            alert('201');
                        },
                        400: function (response) {
                            alert('400');
                        },
                        404: function (response) {
                            alert('404');
                        }
                    },*/
                    error: function() {
                        console.log("error");
                    }
                }).then(function(data) {
                    songs = data;
                    initPage();
                });
            }

            function initPage(){
                for (var i = 0; i < songs.length; i++) {
                    var tr = "<tr>";
                    /* Must not forget the $ sign */

                    /*tr += "<td>" + songs[i].songName + "</td>"
                        + "<td>" + songs[i].artist + "</td>"
                        + "<td>"  + "<button id=\"song\" + songs[i].songName><a th:if=\"${songs[i].songName} !=  0\"><span class=\"glyphicon glyphicon-play\"></span></a></button>" + "<td>"
                        + "<td>"  + "<button id=\"graph\" + songs[i].songName><a th:if=\"${songs[i].songName} !=  0\"><span class=\"glyphicon glyphicon-equalizer\"></span></a></button>" + "<td>"
                        + "</tr>";*/

                    tr += "<td>" + songs[i].id.toString() + "</td>"
                        + "<td>" + songs[i].artist + "</td>"
                        + "<td>" + songs[i].song + "</td>"
                        + "<td>" + songs[i].year + "</td>"
                        + "<td>" + "<button id ="+  songs[i].id + " onclick=\"sendPlay(id)\"><a><span class=\"glyphicon glyphicon-play\"></span></a></button>" + "</td>"
                        //+ "<td>" + "<button id ="+ songs[i].id +" onclick=\"goToGraphs(id)\"><a><span class=\"glyphicon glyphicon-equalizer\"></span></a></button>" + "</td>"
                        + "<td>" + "<button id =\"Graph\{id}\"><a href=\"\Graphs\"><span class=\"glyphicon glyphicon-equalizer\"></span></a></button>" + "</td>"
                        + "</tr>";


                    /* We add the table row to the table body */
                    var tbody = document.getElementById('tableBody');
                    tbody.innerHTML += tr;
                }

                var options = {
                    valueNames: [ 'SongName', 'Artist']
                };
                var songList = new List('myTable', options);
            }
            /*]]>*/
        </script>

        <div class="container">
            <div th:replace="NavBar :: navbar"></div>
            <div class="content">
                <div id="myTable">
                    <input class="search" placeholder="Search" />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Artist</th>
                                <th>SongName</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody" class="list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>