<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="NavBar :: head (pageTitle='graphPage')">
    <meta charset="UTF-8"/>
    <title>graphPage</title>
</head>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<head>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>GraphPage</title>
</head>
<body onload="initPage()">
<div th:replace="NavBar :: navbar"></div>
<input type="button" id="graph" value="show graph"/>
<script>
    function initPage() {

        // 1) pass ID onto server.
//        var proxy = 'https://143.129.39.154:8080/DJAppServer_war/info/stats/'    //+ ID van liedje
//        //var proxy = 'https://cors-anywhere.herokuapp.com/';
//        // var myURL = 'https://api.myjson.com/bins/d1075';
//        //var myURL = 'https://api.myjson.com/bins/l9sm1';
//        var url = window.location.href;
//        console.log(url);
//        var res = url.split("/");
//        var id =  res[res.length -2];
        var upData = [];
        var downData = [];
//        $.ajax({
//            //url: localhost + id,
//            //url: proxy + myURL,
//            //url: proxy + id,
//            url: encodeURI(proxy + id),
//            method: 'GET',
//            cache: true,
            /*statusCode: {
             200: function (response) {
             alert('200');
             },
             201: function (response) {
             alert('201');
             },
             400: function (response) {
             alert('400');
             },
             404: function (response) {
             alert('404');
             }
             },*/
//            error: function() {
//                console.log(status);
//                console.log("error");
//                console.log(url);
//            }
//        }).then(function(data) {
//            /* loop through array */
//            console.log(data);
//            $.each(data.timing, function (index, d) {
//                upData.push(d.upvotes);
//                downData.push(d.downvotes);
//            });
//        });

//        $.ajax({
//            url: 'localhost',
//            type: 'GET',
//            data: { json: JSON.stringify({
//                //'id': res.length -1
//                'id': 1
//            })},
//            dataType: 'json'
//        });

        // 2) get URL from server


        // 3) parse data from json file

//        var upData = [];
//        var downData = [];

        $.ajaxSetup({cache: false});

        //url parsing to get right ID of song into the json request
        var url = window.location.href;
        var res = url.split("/");
        var urlnew = 'http://143.129.39.154:8080/DJAppServer_war/info/stats/'
        //var urlnew = "https://api.myjson.com/bins/d1075";
        var urlnew = urlnew.concat(res[res.length - 2]);

        //mockup data as json request not possible yet
        //$.getJSON("https://api.myjson.com/bins/d1075", function (data) {
        $.getJSON(urlnew, function (data) {
            console.log(data);

            /* loop through array */
            $.each(data.timing, function (index, d) {
                upData.push(d.upvotes);
                downData.push(d.downvotes);
            });
        });
        $(document).ready(function () {
            $("#graph").click(function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'plus/minus rating per timestamp'
                    },
                    subtitle: {
                        text: 'Source: Ignis database'
                    },
                    xAxis: {
                        categories: ['0 - 60 sec', '61-120 sec', '121-180 sec', '181-240 sec', '241-300 sec', 'total votes cast']
                    },
                    yAxis: {
                        title: {
                            text: 'total amount of votes'
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },

                    series: [{
                        name: 'Up',
                        data: upData
                    }, {
                        name: 'Down',
                        data: downData
                    }]
                });
            });
        });
    }
</script>
</body>
</html>