<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="NavBar :: head (pageTitle='Stats')">
    <meta charset="UTF-8"/>
    <title>StatsPage</title>
</head>
<head>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>StatsPage</title>

</head>
<body onload="initPage()">
<div th:replace="NavBar :: navbar"></div>
<input type="button" id="stats" value="press to update stats"/>

<table id="data-table">
    <thead>
    <tr>
        <td id='header1'>Most popular Song: </td>
        <td id='response1'></td>
    </tr>
    <tr>
        <td id='header2'>Least popular Song: </td>
        <td id='response2'></td>
    </tr>
    <tr>
        <td id='header11'>Most active voter: </td>
        <td id='response3'></td>
    </tr>
    </thead>
</table>


<script>
    function initPage() {
  //      https://143.129.39.150:8080/DJAppserver_war/stats/


       // info voor parser: https://www.youtube.com/watch?v=VAMz-fcDNhs
        var items = [];

        $(document).ready(function (e) {
            $("#stats").click(function () {
                $.ajaxSetup({cache: false});

                //$.getJSON("https://api.myjson.com/bins/1cp31t", function (data) {
                //$.getJSON("https://api.myjson.com/bins/ga6k9", function (data) {
                var newurl = 'http://143.129.39.154:8080/DJAppServer_war/info/stats/';
                //$.getJSON('143.129.39.154:8080/DJAppServer_war/info/stats/", function (data) {
                $.getJSON(newurl, function (data) {
                    console.log(data);

                    /* loop through array */
//                    $.each(data, function (index, d) {
//                        mostPopularSong.push(d.mostpopular);
//                        leastPopularSong.push(d.leastpopularsong);
//                        mostActiveVoter.push(d.mostactivevoter);
                    $.each(data, function (key, val) {
                        items.push(val);
                    });

                    document.getElementById('response2').innerHTML = items.pop();
                    document.getElementById('response3').innerHTML = items.pop();
                    document.getElementById('response1').innerHTML = items.pop();

//                    mostPopularSong.pop();
//                    leastPopularSong.pop();
//                    mostActiveVoter.pop();
                });
            });

        });
    }


</script>

</body>
</html>