<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<table id="data-table">
    <thead>
    <tr>
        <td id='test'>header 1</td>
        <td>header 2</td>
        <td>header 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="3" style="text-align:center">There are no items to list...</td>
    </tr>
    </tbody>
</table>
<br />
<button id="btn-update">Update List</button>

<script>


    //$(document).ready(function(e){
        document.getElementById('test').text = 'testtestest';
        document.getElementById('test').innerHTML = 'Work You piece of shit';
    //});




</script>

</body>
</html>