<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<table id="data-table">
    <thead>
    <tr>
        <td id='test'>header 1</td>
        <td>header 2</td>
        <td>header 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="3" style="text-align:center">There are no items to list...</td>
    </tr>
    </tbody>
</table>
<br />
<button id="btn-update">Update List</button>

<script>


    //$(document).ready(function(e){
    //document.getElementById('test').text = 'testtestest';
    //document.getElementById('test').innerHTML = 'Work You piece of shit';
    //});

    $(document).ready(function(e) {

        var data1 = [
            { "id": 1, "title": "value a2", "artist": "value a3"},
            { "id": 2, "title": "value b2", "artist": "value b3"},
            { "id": 1, "title": "value c2", "artist": "value c3"}
        ];

        var data2 = [
            { "id": 1, "title": "nvalue a2", "artist": "nvalue a3"},
            { "id": 2, "title": "nvalue b2", "artist": "nvalue b3"},
            { "id": 1, "title": "nvalue c2", "artist": "nvalue c3"}
        ];

        function loadTable(tableId, fields, data) {
            var rows = '';
            $.each(data, function(index, item) {
                var row = '<tr>';
                $.each(fields, function(index, field) {
                    row += '<td>' + item[field+''] + '</td>';
                });
                rows += row + '</tr>';
            });
            $('#' + tableId + ' tbody').html(rows);
        }

        loadTable('data-table', ['id', 'title', 'artist'], data1);

        $('#btn-update').click(function(e) {
            loadTable('data-table', ['id', 'title', 'artist'], data2);
        });

    });




</script>

</body>
</html>